.gameover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.modal-box {
  background-color: #003d66;
  width: 300px;
  color: white;
  border-radius: 8px;
  padding: 12px 0;
  gap: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-subtitle {
  font-size: 16px;
  min-width: fit-content;
}
.resume-container {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
}
.resume-container button {
  font-size: 24px;
  font-weight: 600;
}
.button-row {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.icons-link {
  background-color: #003d66;
  border-radius: 100%;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon {
  color: white;
  font-size: 28px;
}
.gamewon-subtitle {
  font-size: 20px;
}
.empty-div {
  height: 40px;
  width: 60%;
  border-radius: 8px;
  background-color: #003d66;
}
@media screen and (min-width: 768px) {
  .modal-box {
    width: 411px;
    padding: 20px 0;
    gap: 20px;
  }
  .modal-title {
    font-size: 36px;
    font-weight: bold;
  }

  .modal-subtitle {
    font-size: 32px;
    min-width: fit-content;
  }
  .icons-link {
    padding: 20px;
  }
  .icon {
    font-size: 48px;
  }
  .button-row {
    gap: 68px;
  }
  .resume-container {
    display: flex;
    width: 15%;
  }
}
