.download-app {
    background: #75fdfd;
    margin-bottom: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  
    .content {
      text-align: center;
  
      h2 {
        font-size: 1.8rem;
        color: #003243;
        margin-bottom: 2rem;
      }
  
      .store-buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
  
        .store-btn {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          background-color: white;
          border: none;
          border-radius: 6px;
          padding: 0.8rem 1.2rem;
          font-weight: bold;
          font-size: 1rem;
          cursor: pointer;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: all 0.3s;
  
          &:hover {
            transform: scale(1.05);
          }
  
          &.google {
            color: #1e88e5;
          }
  
          &.apple {
            color: #000;
          }
        }

        .store-btn img{
            height: 37px;
        }
      }
    }
  }