.gameboard-container {
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  padding: 0;
}
.gameboard {
  width: 100vw;
}
/* Top Bar */
.top-bar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 10px;
  font-size: 16px;
}

.left-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-icon {
  font-size: 14px;
  cursor: pointer;
}

.level-button {
  background-color: #004c66;
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: bold;
}

.icons-group {
  display: flex;
  gap: 8px;
  color: #ffcc00;
  font-size: 32px;
}

.hints-container {
  position: absolute;
  width: fit-content;
  top: 60px;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.attempts {
  font-weight: bold;
  background-color: #004c66;
  color: white;
  width: fit-content;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 16px;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.coin {
  background-color: #ffcc00;
  padding: 12px 10px;
  border-radius: 50%;
  font-weight: bold;
}

/* Circle Grid */
.circle-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 127px;
}

.circle-row {
  display: flex;
  padding: 14px 37px;
  border-radius: 10px;
  gap: 10px;
  background: linear-gradient(45deg, #01dbdb, #01c1c1);
}

.circle {
  width: 45px;
  height: 45px;
  background-color: #003b4c;
  border-radius: 50%;
}

/* Keyboard */
.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 18px 0;
  gap: 12px;
  align-items: center;
  background-color: #01dbdb;
}

.key-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.key {
  height: 40px;
  padding: 6px 4px;
  background-color: #004c66;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bolder;
  font-size: 28px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .circle {
    width: 60px;
    height: 60px;
  }
  .key {
    height: 48px;
    padding: 10px 16px;
  }
  .top-bar {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 2rem;
    gap: 10px;
    font-size: 16px;
  }

  .game-icon {
    font-size: 18px;
  }
  .left-icons {
    gap: 20px;
  }
  .hints-container {
    width: auto;
    position: static;
  }
  .attempts {
    font-size: 24px;
    padding: 5px 11px;
  }

  .circle-grid {
    margin-bottom: 30px;
  }

  .circle-row {
    padding: 10px 20px;
  }
}
