.header {
  position: relative;
  background-color: transparent;
  padding: 10px 20px;
  width: 100%;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-icon {
  display: hidden;
  position: absolute;
  top: 15px;
  right: 30px;
  height: 72px;
  width: auto;
}
/* Default: Mobile First (less than 768px) */
.nav {
  display: none;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: none;
  position: absolute;
  top: 15px;
  left: 30px;
  height: 72px;
  width: auto;
}
.nav-link {
  color: white;
  font-size: 20px;
  font-weight: 700;
  &hover {
    text-decoration: underline;
  }
}

/* For tablets and above (768px and more) */
@media screen and (min-width: 768px) {
  .header {
    background-color: #004c6b;
  }
  .nav {
    display: flex;
    gap: 48px;
  }
  .logo {
    display: inline;
  }
  .mobile-nav {
    display: none;
  }

  .profile-icon {
    display: block;
  }
}
